<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta rel="UleandroSP" href="http://github.com/uleandrosi">
    <meta name="description" content="">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="logo"><img src="" alt=""></div>
        <nav id="menu_principal">
            <a href="">Link1</a>
            <a href="">Link2</a>
        </nav>
    </header>
    <main>
        <!-- -->
    </main>
    <footer>
        <!-- -->
    </footer>
</body>
</html>